a{
	text-decoration:none;
}
.heading{
	font-size: 10vw;
	font-weight: bold;
	font-family: Arial,Verdana;
	//color: #1a1aff;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
			   }
.tag1{
	font-size: 5vw;
	font-weight: bold;
	font-family: Comic Sans, Comic Sans MS, cursive; 
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
	top: 0;
    left: 0;
	background-image: url('C:/Users/hus8kor/Documents/Mobile-Operator/WebContent/resources/bg1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    //background-color: rgb(0,0,0); /* Black fallback color */
    //background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    vertical-align: middle;
   top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.nxtbtn{
	background-color: transparent;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 3vw;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.nxtbtn:hover {
    background-color: black; /* Green */
    color: #c2c2a3;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.main {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   padding: 30px;  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
     /* Sit on top */
	top: 0;
    left: 0;
	background-image: url('file:///C:/Users/hus8kor/Documents/Mobile-Operator/WebContent/resources/bg1.jpg');	
	   }
    .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
  	
  	align-items:center;
    border-radius: 5px;
    
    text-center: center;
    display: inline-block;
    margin-top:80px;
    margin-bottom:30px;
    background-color: white;
    }
.container {
    padding-left: 60px;
    padding-right: 45px;
    padding-bottom: 45px;
    padding-top: 35px;
    align-items:center;
    }

